p a {
    text-decoration: underline;
}

.essay-text {
    color: #313133;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

.essay-text h1 {
    color: #313133;
    font-size: 18px;
}

@media (max-width: 780px) {
    .essay-text h2 {
        font-size: 16px;
    }
}

.essay-text h2 {
    color: #313133;
    font-size: 18px;
}

.essay-text h3 {
    color: #313133;
    font-size: 14px;
}

.essay-text p {
    color: #313133;
    font-size: 12px;
}

.essay-text p a {
    color: #313133;
}