.linkSection {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}


.links {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 960px) {
  .links {
    display: none;
  }

  .link-header {
    background-color: #fe0000;
    width: 100% !important;
    font-size: .9rem !important;
    font-weight: 500;
    padding: 4px 0 !important;
  }

  .left {
    display: none;
  }

  .lol {
    display: none;
  }
}

.links a {
    color: #313133;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    margin: auto 2px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

.second h6 {
  font-weight: 400;
}

.links a:hover {
    color: #f68b1e;
}

.second {
    top: 0px;
    left: 100%;
    background-color: #fff;
    height: 400px;
    width: 735px;
    display: none;
    z-index: 1000;
    border-radius: 5px;
    padding: 5px;
}

.active {
    display: block;
}

#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  #linkSection {
    width: 100%;
    height: 97%;

  }

  .swiper {
    width: 100%;
    height: 400px;
  }

  @media (max-width: 770px) {
    .swiper {
      width: 100%;
      height: 400px;
      display: none;
    }
  }

  @media (max-width: 780px) {
    .swiper {
      width: 100%;
      height: 200px;
      display: none;
    }
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .second ul li a {
    font-size: 12px;
  }

  .second h6 {
    font-size: 13px;
    text-transform: uppercase;
  }
  
  .second hr {
    margin: 0 0 3px 0;
  }

.left img{
  border-radius: 5px;
  width: 190px !important;
  height: 200px;
}

.call {
  background-color: #fff;
  width: 190px;
  height: 180px;
  border-radius: 5px;
}

.call h6 {
  font-size: 13px;
  color: #363636;
}

.call p {
  line-height: .1;
  font-size: 12px;
  color: #8a8a8b;
}

.icon {
  border: solid 1px #f68b1e;
  color: #8a8a8b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.icon-1 {
  border: solid 1px #f68b1e;
  color: #8a8a8b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-left: px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.call-to-order {
  background-color: #08a329;
}

.call-to-order h4 {
  font-size: clamp(0.75rem, 0.7167rem + 0.2667vw, 1rem);
}

.icon1 {
  font-size: 18px;
  padding-right: 5px;
}