.swiper {
    width: 100%;
    height: 100%;
  }

  .content {
    text-align: center;
    background: #fff;
    width: 100%;
    border-radius: 5px;
  
    /* Center slide text vertically */
    
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .products {
    text-align: left;
    padding: 2px 5px;
    width: 100%;
  }

 .p1 {
    font-size: 14px;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 } 

 .p2 {
    font-size: 16px;
 }

 .cover {
    background-color: #fff;
 }

 .p3 {
    text-decoration: line-through;
    font-size: 14px;
    color: #75757a;
 }

 .content .p1 {
    line-height: 1;
   
 }

 .content .p2 {
    line-height: 1.2;
    margin-bottom: 5px;
 }

 .content .p3 {
    line-height: 0.9;
 }

 .progress {
   height: 7px;
 }

 .content .p5 {
   line-height: 0.9;
   font-size: 12px;
}

 .card-text-1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
}

.card-text-1 h3 {
   font-size: 20px;
   font-weight: bold;
   color: #fff;
}

.flash {
   font-size: 25px;
   color: #f90;
}

.flash-text {
   margin-bottom: 0;
   margin-left: 5px;
}

.see-all {
   font-size: .9rem;
   font-weight: 100;
   color: #f90;
}

@media (max-width: 600px) {
   .content .p1 {
      font-size: 13px;
      color: #75757a;
     
   }
}

 